%TMPL:DEF{"openidbutton"}%
<a class="openidbutton provider_%PROVIDERNAME%" href="%SCRIPTURLPATH{"login"}%%PATH_INFO%?provider=%PROVIDER%">
   <img src="%PUBURLPATH%/%SYSTEMWEB%/OpenIDLoginContrib/%LOGOIMAGE%">
   <span>%PROVIDERNAME%</span>
</a>
%TMPL:END%

%TMPL:DEF{"openidstep"}%
<div class="openid_accounts foswikiFormStep">%TMPL:P{"openid_providers"}%</div>
%TMPL:P{"openid_toggle"}%
%TMPL:END%

%TMPL:DEF{"openid_toggle"}%
<p class="foswikiFormStep clear openid_accounts"><a class='foswikiUnvisited native_toggle' href="?provider=native">%MAKETEXT{"admin only"}%</a></p>
%TMPL:END%

%TMPL:DEF{"openid_javascript"}%
<script src="%PUBURLPATH%/%SYSTEMWEB%/OpenIDLoginContrib/openidlogin.js"></script>
%TMPL:END%

%{################################################################################# }%
%TMPL:DEF{"openid_providers"}%
%TMPL:P{"openidbutton" PROVIDER="Default" PROVIDERNAME="CERN SSO" LOGOIMAGE="CERN-badge-blue-96.png"}%
%TMPL:END%
